@tailwind base;
@tailwind components;
@tailwind utilities;

/* ESTILOS GLOBAIS */
body {
  @apply bg-slate-50 text-gray-800;

  background: linear-gradient(to bottom right, #f8fafc, #e2e8f0);
  min-height: 100vh;
}

/* ESTILOS DE IMPRESSÃO */
@media print {
  /* Esconde tudo que não for a área de impressão */
  body * {
    visibility: hidden;
  }

  /* Mostra apenas a área específica de impressão */
  #area-impressao, #area-impressao * {
    visibility: visible;
  }

  /* Posiciona a folha no topo */
  #area-impressao {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
    color: black;
  }

  /* Remove sombras e fundos coloridos para economizar tinta */
  .no-print-bg {
    background-color: white !important;
    box-shadow: none !important;
    border: 1px solid #ddd !important;
  }
}